@define-color dark-bg #282828; /* Gruvbox dark background */
@define-color light-bg #3c3836; /* Mantle */
@define-color light-fg #ebdbb2; /* Light text */
@define-color yellow #fabd2f; /* Warning */
@define-color green #b8bb26; /* Success */
@define-color red #fb4934; /* Critical */
@define-color blue #83a598; /* Blue */
@define-color teal #8ec07c; /* Teal */
@define-color active #d3869b; /* Active (Pink/Mauve) */

* {
  font-family: "MesloLGS Nerd Font Mono Bold";
  font-size: 12px; /* Smaller font size */
}

window#waybar {
  background-color: @crust;
  color: @overlay0;
  /* border-bottom: 1px solid @base; */
  padding: 0 2px; /* Adjusted padding for smaller height */
  min-height: 26px; /* Use min-height instead of height */
}

#workspaces button {
  padding: 0 4px; /* Reduced padding */
  margin: 0 2px;
  border-radius: 3px;
  color: white;
}

#workspaces button.focused {
  background-color: @green;
  color: @base;
}

#workspaces button.active {
  background-color: @yellow;
  color: @base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#pulseaudio,
#clock,
#battery,
#network {
  margin: 1px 4px; /* Reduced margin for compactness */
  padding: 2px 6px; /* Reduced padding */
  border-radius: 3px;
}

#clock {
  color: @maroon;
  border-bottom: 1px solid @maroon;
}

#battery {
  color: @green;
  border-bottom: 1px solid @green;
}

#network {
  color: @blue;
  border-bottom: 1px solid @blue;
}
